<form class="mx-1 mx-md-4" [formGroup]="registerAddForm">
  <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill mb-0">
      <label class="form-label" for="form3Example1c">Adınız</label>
      <input
        type="text"
        id="form3Example1c"
        class="form-control"
        formControlName="name"
      />
    </div>
  </div>
  <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill mb-0">
      <label class="form-label" for="form3Example1c">Soyadınız</label>
      <input
        type="text"
        id="form3Example1c"
        class="form-control"
        formControlName="lastName"
      />
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill mb-0">
      <label class="form-label" for="form3Example3c">Mail adresiniz</label>
      <input
        type="email"
        id="form3Example3c"
        class="form-control"
        formControlName="email"
      />
    </div>
  </div>

  <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill mb-0">
      <label class="form-label" for="form3Example4c">Şifreniz</label>
      <input
        type="password"
        id="form3Example4c"
        class="form-control"
        formControlName="password"
      />
    </div>
  </div>

  <div class="form-check d-flex justify-content-center mb-5">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      id="form2Example3c"
    />
    <label class="form-check-label" for="form2Example3">
      Kullanım koşullarını okudum, <a href="#!">onaylıyorum</a>
    </label>
  </div>

  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <button
      (click)="add()"
      routerLink="/login"
      type="submit"
      class="btn btn-primary btn-lg"
    >
      Kayıt Ol
    </button>
  </div>
</form>
