<ul class="list-group mt-3">
  <a
    href="#"
    class="list-group-item list-group-item-action active text-center bg-primary border-0"
    aria-current="true"
    >Categories</a
  >
  <input
    type="text"
    placeholder="Marka arayın..."
    class="form-control"
    id="brandFilter"
    [(ngModel)]="filterTextt"
  />
  <li
    class="list-group-item d-flex justify-content-between"
    style="align-items: center"
    *ngFor="let brandSelect of brands | brandFilter : filterTextt"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-amd"
      viewBox="0 0 16 16"
    >
      <path
        d="m.334 0 4.358 4.359h7.15v7.15l4.358 4.358V0H.334ZM.2 9.72l4.487-4.488v6.281h6.28L6.48 16H.2V9.72Z"
      />
    </svg>

    <a
      (click)="selectBrand(brandSelect)"
      routerLink="/brand/{{ brandSelect.id }}"
      class="cursor-pointer text-black"
      style="text-decoration: none"
      >{{ brandSelect.name }}</a
    >

    <div class="btn-group" role="group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle btn-sm"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        ...
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" (click)="delete(brandSelect)" href="#"
            >Sil</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/brand-update/{{ brandSelect.id }}"
            href="#"
            href="#"
            >Güncelle</a
          >
        </li>
        <li></li>
      </ul>
    </div>
  </li>
</ul>
